* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: white;
}

.topnav {  
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;  
}

.topnav > div {
    margin: 10px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 3em;
    margin: 10px 20px;
    justify-content: center;
}

.topnav i {
    color: orange;
}

#logo {
    margin-left: 50px;
    margin-right: 10px;
    float: left;
    height: 50px;

}

#outer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#text-video {
    left:0%;
    top:0%;
	height:100%;
	width:100%;
	overflow: hidden;
	position: fixed;
    z-index: -1;
}

#text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    color:white;
    font-size: 50px;
    text-shadow: 2px 2px 0px black;
}

#podebljano {
    color: rgb(224, 0, 75);
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 2px 2px 0px black;
    line-height: 0px;
}


@media (min-aspect-ratio: 16/9) {
    #video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .topnav a {
        line-height: 1.5em;
        margin: 5px 5px;
    }

    #logo {
        height: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .topnav a {
        line-height: 3em;
        margin: 15px 15px;
    }

    #logo {
        height: 50px;
    }
}
@media screen and (min-width: 1600px) {
    .topnav a {
        line-height: 3em;
        margin: 10px 20px;
    }

    #logo {
        height: 60px;
    }
}
  
